name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        # aggiungiamo PYTHONPATH per far trovare il modulo 'app'
        run: |
          export PYTHONPATH=$PYTHONPATH:$GITHUB_WORKSPACE
          pytest
